/* You can add global styles to this file, and also import other style files */
html, body{
  
    margin:0;
    padding: 0;
    height: 100%;
  }
  body{
    font-family: 'Montserrat', sans-serif;

  }
  table { 
      border-collapse: collapse; 
      border-top: solid 1px #f00; 
      border-bottom: solid 1px #f00;
  }
  tr { border: none; }
  td {
    border-right: solid 1px #f00; 
    border-left: solid 1px #f00;
    padding: 10px;
    }
    th {
      border-right: solid 1px #f00; 
      border-left: solid 1px #f00;
      border-bottom: none;
      padding: 10px;
    }



  .centered {
    display: inline-block;
    vertical-align: middle;
  }
  
  .jumbotron{
    font-size: 36px;
    line-height: 1.2em;
  }
  @media (min-width: 768px){
    .modal-content {
      margin-top: 1% !important;
      width: auto;
      height: auto;
    }

  }

  .modal-header .close {
    margin-top: -70px !important;
}